<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      crossorigin="anonymous"
    />

    <link rel="stylesheet" href="/website/static/general.css" />
    <link rel="stylesheet" href="/website/static/nav_bar2.css" />
    <link rel="stylesheet" href="/website/static/edit_substance.css" />

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='general.css') }}"
    />

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='nav_bar2.css') }}"
    />

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='edit_substance.css') }}"
    />

    <title>Edit substance</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-sm">
      <div class="container-fluid" style="overflow: hidden">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a
              id="newstockButton"
              class="nav-link btn btn-sm btn-custom shadow-none btn-custom-white btn-right-nav1"
              >New stock</a
            >
          </li>
          <li class="nav-item">
            <a
              id="trackusageButton"
              class="nav-link btn btn-sm btn-custom shadow-none btn-custom-white btn-right-2 btn-right-nav1"
              >Track usage</a
            >
          </li>
        </ul>
        <a
          id="statisticsButton0"
          class="navbar-brand mx-auto"
          style="overflow: hidden"
          ><img
            class="logo"
            src="{{ url_for('static', filename='LabStockLogo.svg') }}"
            alt="Logo"
        /></a>
        <ul class="navbar-nav ms-auto">
          <li class="nav-item text-center">
            <a
              id="statisticsButton"
              class="nav-link btn btn-sm btn-custom shadow-none btn-right-nav1"
              >Statistics</a
            >
          </li>
          <li class="nav-item">
            <a
              id="substancesButton"
              class="nav-link btn btn-sm btn-custom shadow-none btn-right-nav1"
              >Substances</a
            >
          </li>
          <li class="nav-item btn-right-2">
            <a id="settingsButton">
              <img
                alt="Settings"
                class="align-self"
                src="{{ url_for('static', filename='settings.svg') }}"
                style="
                  height: 35px;
                  width: auto;
                  padding-top: 4px;
                  color: #fffbfa;
                "
              />
            </a>
          </li>
          <li class="nav-item btn-right-2">
            <a id="logoutButton">
              <img
                alt="Logout"
                class="align-self"
                src="{{ url_for('static', filename='logout.svg') }}"
                style="height: 35px; width: auto; padding-top: 4px"
              />
            </a>
          </li>
        </ul>
      </div>
    </nav>

    <div
      class="container-fluid d-flex flex-column justify-content-center align-items-center"
      style="background-color: #fffbfa; height: calc(100vh - 63px)"
    >
      <div
        class="main-container container h-75 d-flex flex-row justify-content-between align-items-center px-0"
      >
        <div
          class="left-container d-flex flex-column justify-content-between h-100"
        >
          <div class="container products_list_container">
            <p class="container info_text_select">
              <em>Select a substance to edit:</em>
            </p>
            <div class="scrollable-container">
              {% for substance in data %}
              <div
                class="container card-substance"
                substance-code="{{ substance.unique_substance_code }}"
              >
                <p class="score-text">
                  <em>Score: {{ substance.score }}/5</em>
                </p>

                <h5 class="card-title m-0">
                  <b>{{ substance.substance_name }}</b>
                </h5>
                <p class="card-text">{{ substance.producer_name }}</p>
              </div>
              {% endfor %}
            </div>
          </div>
        </div>

        <div class="container form-box container-right d-flex flex-column">
          <form class="editsubstance-form" method="POST">
            <h6 class="mt-3" align="center">
              <em>Modify one of the following fields:</em>
            </h6>
            <div
              class="form-fields d-flex flex-column justify-content-around align-items-center mr-sm-2"
            >
              <div class="form-group">
                <label for="substance_name">Name</label>
                <input
                  class="form-control"
                  id="substance_name"
                  name="substance_name"
                  placeholder=""
                />
              </div>

              <div class="form-group">
                <label>Producer</label>
                <input
                  type="text"
                  class="form-control"
                  id="substance_producer"
                  name="substance_producer"
                  placeholder=" "
                />
              </div>
            </div>

            <div class="container d-flex justify-content-center">
              <button
                type="submit"
                class="btn mb-3 btn-custom justify-self-center"
              >
                Edit subtance
              </button>
            </div>
          </form>
          <div class="delete-box">
            <p class="delete-info">
              <em
                >Or you can delete the substance. <br />
                This action is irreversible!</em
              >
            </p>
            <button class="btn delete-btn mb-3 btn-custom justify-self-center">
              Delete
            </button>
          </div>
        </div>
      </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <script src="{{ url_for('static', filename='nav_bar2.js') }}"></script>
    <script src="{{ url_for('static', filename='edit_substance.js') }}"></script>
  </body>
</html>
