<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      crossorigin="anonymous"
    />

    <link rel="stylesheet" href="/website/static/general.css" />
    <link rel="stylesheet" href="/website/static/nav_bar1.css" />
    <link rel="stylesheet" href="/website/static/products.css" />

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='general.css') }}"
    />

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='nav_bar1.css') }}"
    />

    <title>Products</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-sm">
      <div class="container-fluid">
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav me-auto">
            <li class="nav-item">
              <a
                class="nav-link btn btn-sm btn-custom shadow-none btn-custom-white"
                href="#"
                >New lab registration</a
              >
            </li>
          </ul>
          <a class="navbar-brand mx-auto" href="#"
            ><img src="path/to/logo.png" alt="Logo"
          /></a>
          <ul class="navbar-nav ms-auto">
            <li class="nav-item text-center">
              <a
                class="nav-link btn btn-sm btn-custom shadow-none btn-custom-white btn-right-nav1"
                href="#"
                >Sign in</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link btn btn-sm btn-custom shadow-none btn-custom-white btn-right-nav1 btn-right-2"
                href="#"
                >Join lab</a
              >
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div
      class="container-fluid d-flex flex-column justify-content-center align-items-center"
      style="background-color: #fffbfa; height: calc(100vh - 60px)"
    >
      <div
        class="main-container container h-75 d-flex flex-row justify-content-between align-items-center px-0"
      >
        <div
          class="left-container d-flex flex-column justify-content-between h-100"
        >
          <div class="container products_list_container">
            <p class="container info_text_select">
              <em>Select a substance to see Quality incidents:</em>
            </p>
            <div class="scrollable-container">
              <div class="container card-substance">
                <div class="stars-container d-flex justify-content-start">
                  <svg>a</svg>
                  <svg>a</svg>
                  <svg>a</svg>
                  <svg>a</svg>
                  <svg>a</svg>
                </div>
                <h5 class="card-title m-0"><b>Bold text</b></h5>
                <p class="card-text">Smaller text underneath the first text</p>
              </div>
              <div class="container card-substance">
                <div class="stars-container d-flex justify-content-start">
                  <svg>a</svg>
                  <svg>a</svg>
                  <svg>a</svg>
                  <svg>a</svg>
                  <svg>a</svg>
                </div>
                <h5 class="card-title m-0"><b>Bold text</b></h5>
                <p class="card-text">Smaller text underneath the first text</p>
              </div>
              <div class="container card-substance">
                <div class="stars-container d-flex justify-content-start">
                  <svg>a</svg>
                  <svg>a</svg>
                  <svg>a</svg>
                  <svg>a</svg>
                  <svg>a</svg>
                </div>
                <h5 class="card-title m-0"><b>Bold text</b></h5>
                <p class="card-text">Smaller text underneath the first text</p>
              </div>
              <div class="container card-substance">
                <div class="stars-container d-flex justify-content-start">
                  <svg>a</svg>
                  <svg>a</svg>
                  <svg>a</svg>
                  <svg>a</svg>
                  <svg>a</svg>
                </div>
                <h5 class="card-title m-0"><b>Bold text</b></h5>
                <p class="card-text">Smaller text underneath the first text</p>
              </div>
              <div class="container card-substance">
                <div class="stars-container d-flex justify-content-start">
                  <svg>a</svg>
                  <svg>a</svg>
                  <svg>a</svg>
                  <svg>a</svg>
                  <svg>a</svg>
                </div>
                <h5 class="card-title m-0"><b>Bold text</b></h5>
                <p class="card-text">Smaller text underneath the first text</p>
              </div>
              <div class="container card-substance">
                <div class="stars-container d-flex justify-content-start">
                  <svg>a</svg>
                  <svg>a</svg>
                  <svg>a</svg>
                  <svg>a</svg>
                  <svg>a</svg>
                </div>
                <h5 class="card-title m-0"><b>Bold text</b></h5>
                <p class="card-text">Smaller text underneath the first text</p>
              </div>
              <div class="container card-substance">
                <div class="stars-container d-flex justify-content-start">
                  <svg>a</svg>
                  <svg>a</svg>
                  <svg>a</svg>
                  <svg>a</svg>
                  <svg>a</svg>
                </div>
                <h5 class="card-title m-0"><b>Bold text</b></h5>
                <p class="card-text">Smaller text underneath the first text</p>
              </div>
              <div class="container card-substance">
                <div class="stars-container d-flex justify-content-start">
                  <svg>a</svg>
                  <svg>a</svg>
                  <svg>a</svg>
                  <svg>a</svg>
                  <svg>a</svg>
                </div>
                <h5 class="card-title m-0"><b>Bold text</b></h5>
                <p class="card-text">Smaller text underneath the first text</p>
              </div>
              <div class="container card-substance">
                <div class="stars-container d-flex justify-content-start">
                  <svg>a</svg>
                  <svg>a</svg>
                  <svg>a</svg>
                  <svg>a</svg>
                  <svg>a</svg>
                </div>
                <h5 class="card-title m-0"><b>Bold text</b></h5>
                <p class="card-text">Smaller text underneath the first text</p>
              </div>
            </div>
          </div>
          <div
            class="container d-flex flex-row buttons-container justify-content-center"
          >
            <button type="submit" class="btn btn-custom">Add substance</button>
            <button href="#" class="btn btn-custom btn-right-2">Edit</button>
          </div>
        </div>

        <div class="container container-right d-flex flex-column">
          <div class="container score-container d-flex align-items-center">
            <p class="rate-text">Rate this product:</p>
            <div class="stars-container d-flex justify-content-start">
              <svg class="clickable-svg">a</svg>
              <svg class="clickable-svg">a</svg>
              <svg class="clickable-svg">a</svg>
              <svg class="clickable-svg">a</svg>
              <svg class="clickable-svg">a</svg>
            </div>
          </div>
          <div
            class="container reviews-container d-flex flex-column align-items-center"
          >
            <h6 class="incidents-number-text">
              <em>Quality incidents for Acid ascorbic: 2</em>
            </h6>
            <div class="review d-flex flex-column justify-content-between">
              <div class="review-date">07/05/2023</div>
              <div class="review-content">
                Nu e normal asa ceva! Imi dau demisia cu produse dinastea!!
              </div>
              <div class="review-author">Ioana Marinescu</div>
            </div>
            <div class="review d-flex flex-column justify-content-between">
              <div class="review-date">07/05/2023</div>
              <div class="review-content">
                Nu e normal asa ceva! Imi dau demisia cu produse dinastea!!
              </div>
              <div class="review-author">Ioana Marinescu</div>
            </div>
            <div class="review d-flex flex-column justify-content-between">
              <div class="review-date">07/05/2023</div>
              <div class="review-content">
                Nu e normal asa ceva! Vreti sa innebunesc?! Imi dau demisia cu
                produse dinastea!!
              </div>
              <div class="review-author">Ioana Marinescu</div>
            </div>
            <div class="review d-flex flex-column justify-content-between">
              <div class="review-date">07/05/2023</div>
              <div class="review-content">
                Nu e normal asa ceva! Vreti sa innebunesc?! Imi dau demisia cu
                produse dinastea!!
              </div>
              <div class="review-author">Ioana Marinescu</div>
            </div>
            <div class="review d-flex flex-column justify-content-between">
              <div class="review-date">07/05/2023</div>
              <div class="review-content">
                Nu e normal asa ceva! Vreti sa innebunesc?! Imi dau demisia cu
                produse dinastea!!
              </div>
              <div class="review-author">Ioana Marinescu</div>
            </div>
            <div class="review d-flex flex-column justify-content-between">
              <div class="review-date">07/05/2023</div>
              <div class="review-content">
                Nu e normal asa ceva! Vreti sa innebunesc?! Imi dau demisia cu
                produse dinastea!!
              </div>
              <div class="review-author">Ioana Marinescu</div>
            </div>
            <div class="review d-flex flex-column justify-content-between">
              <div class="review-date">07/05/2023</div>
              <div class="review-content">
                Nu e normal asa ceva! Vreti sa innebunesc?! Imi dau demisia cu
                produse dinastea!!
              </div>
              <div class="review-author">Ioana Marinescu</div>
            </div>
            <div class="review d-flex flex-column justify-content-between">
              <div class="review-date">07/05/2023</div>
              <div class="review-content">
                Nu e normal asa ceva! Vreti sa innebunesc?! Imi dau demisia cu
                produse dinastea!!
              </div>
              <div class="review-author">Ioana Marinescu</div>
            </div>
          </div>
          <div
            class="container d-flex flex-row buttons-container buttons-container-right justify-content-center"
          >
            <button type="submit" class="btn btn-custom">
              Add quality incident
            </button>
          </div>
        </div>
      </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <script src="{{ url_for('static', filename='products.js') }}"></script>
  </body>
</html>
