<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      crossorigin="anonymous"
    />

    <link rel="stylesheet" href="/website/static/general.css" />
    <link rel="stylesheet" href="/website/static/nav_bar2.css" />
    <link rel="stylesheet" href="/website/static/products.css" />

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='general.css') }}"
    />

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='nav_bar2.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='products.css') }}"
    />

    <title>Substances</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-sm">
      <div class="container-fluid" style="overflow: hidden">
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div
          class="collapse navbar-collapse"
          style="overflow: hidden"
          id="navbarNav"
        >
          <ul class="navbar-nav me-auto">
            <li class="nav-item">
              <a
                id="newstockButton"
                class="nav-link btn btn-sm btn-custom shadow-none btn-custom-white btn-right-nav1"
                >New stock</a
              >
            </li>
            <li class="nav-item">
              <a
                id="trackusageButton"
                class="nav-link btn btn-sm btn-custom shadow-none btn-custom-white btn-right-2 btn-right-nav1"
                >Track usage</a
              >
            </li>
          </ul>
          <a
            id="statisticsButton0"
            class="navbar-brand mx-auto"
            style="overflow: hidden"
            ><img
              class="logo"
              src="{{ url_for('static', filename='LabStockLogo.svg') }}"
              alt="Logo"
          /></a>
          <ul class="navbar-nav ms-auto">
            <li class="nav-item text-center">
              <a
                id="statisticsButton"
                class="nav-link btn btn-sm btn-custom shadow-none btn-right-nav1"
                >Statistics</a
              >
            </li>
            <li class="nav-item">
              <a
                id="substancesButton"
                class="nav-link btn btn-sm btn-custom shadow-none btn-right-nav1"
                >Substances</a
              >
            </li>
            <li class="nav-item btn-right-2">
              <a id="settingsButton">
                <img
                  class="align-self"
                  src="{{ url_for('static', filename='settings.svg') }}"
                  style="
                    height: 35px;
                    width: auto;
                    padding-top: 4px;
                    color: #fffbfa;
                  "
                />
              </a>
            </li>
            <li class="nav-item btn-right-2">
              <a id="logoutButton">
                <img
                  class="align-self"
                  src="{{ url_for('static', filename='logout.svg') }}"
                  style="height: 35px; width: auto; padding-top: 4px"
                />
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div
      class="container-fluid d-flex flex-column justify-content-center align-items-center"
      style="background-color: #fffbfa; height: calc(100vh - 60px)"
    >
      <div
        class="main-container container h-75 d-flex flex-row justify-content-between align-items-center px-0"
      >
        <div
          class="left-container d-flex flex-column justify-content-between h-100"
        >
          <div class="container products_list_container">
            <p class="container info_text_select">
              <em>Select a substance to see Quality incidents:</em>
            </p>
            <div class="scrollable-container">
              {% for substance in data %}
              <div
                class="container card-substance"
                substance-code="{{ substance.unique_substance_code }}"
              >
                <p class="score-text">
                  <em>Score: {{ substance.score }}/5</em>
                </p>

                <h5 class="card-title m-0">
                  <b>{{ substance.substance_name }}</b>
                </h5>
                <p class="card-text">{{ substance.producer_name }}</p>
              </div>
              {% endfor %}
              <!-- <div class="container card-substance">
                <div class="stars-container d-flex justify-content-start">
                  <svg>a</svg>
                  <svg>a</svg>
                  <svg>a</svg>
                  <svg>a</svg>
                  <svg>a</svg>
                </div>
                <h5 class="card-title m-0"><b>Bold text</b></h5>
                <p class="card-text">Smaller text underneath the first text</p>
              </div>
              <div class="container card-substance">
                <div class="stars-container d-flex justify-content-start">
                  <svg>a</svg>
                  <svg>a</svg>
                  <svg>a</svg>
                  <svg>a</svg>
                  <svg>a</svg>
                </div>
                <h5 class="card-title m-0"><b>Bold text</b></h5>
                <p class="card-text">Smaller text underneath the first text</p>
              </div>
              <div class="container card-substance">
                <div class="stars-container d-flex justify-content-start">
                  <svg>a</svg>
                  <svg>a</svg>
                  <svg>a</svg>
                  <svg>a</svg>
                  <svg>a</svg>
                </div>
                <h5 class="card-title m-0"><b>Bold text</b></h5>
                <p class="card-text">Smaller text underneath the first text</p>
              </div>
              <div class="container card-substance">
                <div class="stars-container d-flex justify-content-start">
                  <svg>a</svg>
                  <svg>a</svg>
                  <svg>a</svg>
                  <svg>a</svg>
                  <svg>a</svg>
                </div>
                <h5 class="card-title m-0"><b>Bold text</b></h5>
                <p class="card-text">Smaller text underneath the first text</p>
              </div>
              <div class="container card-substance">
                <div class="stars-container d-flex justify-content-start">
                  <svg>a</svg>
                  <svg>a</svg>
                  <svg>a</svg>
                  <svg>a</svg>
                  <svg>a</svg>
                </div>
                <h5 class="card-title m-0"><b>Bold text</b></h5>
                <p class="card-text">Smaller text underneath the first text</p>
              </div>
              <div class="container card-substance">
                <div class="stars-container d-flex justify-content-start">
                  <svg>a</svg>
                  <svg>a</svg>
                  <svg>a</svg>
                  <svg>a</svg>
                  <svg>a</svg>
                </div>
                <h5 class="card-title m-0"><b>Bold text</b></h5>
                <p class="card-text">Smaller text underneath the first text</p>
              </div>
              <div class="container card-substance">
                <div class="stars-container d-flex justify-content-start">
                  <svg>a</svg>
                  <svg>a</svg>
                  <svg>a</svg>
                  <svg>a</svg>
                  <svg>a</svg>
                </div>
                <h5 class="card-title m-0"><b>Bold text</b></h5>
                <p class="card-text">Smaller text underneath the first text</p>
              </div>
              <div class="container card-substance">
                <div class="stars-container d-flex justify-content-start">
                  <svg>a</svg>
                  <svg>a</svg>
                  <svg>a</svg>
                  <svg>a</svg>
                  <svg>a</svg>
                </div>
                <h5 class="card-title m-0"><b>Bold text</b></h5>
                <p class="card-text">Smaller text underneath the first text</p>
              </div>
              <div class="container card-substance">
                <div class="stars-container d-flex justify-content-start">
                  <svg>a</svg>
                  <svg>a</svg>
                  <svg>a</svg>
                  <svg>a</svg>
                  <svg>a</svg>
                </div>
                <h5 class="card-title m-0"><b>Bold text</b></h5>
                <p class="card-text">Smaller text underneath the first text</p>
              </div> -->
            </div>
          </div>
          <div
            class="container d-flex flex-row buttons-container justify-content-center"
          >
            <button id="addsubstanceButton" class="btn btn-custom">
              Add substance
            </button>
            <button id="editsubstanceButton" class="btn btn-custom btn-right-2">
              Edit
            </button>
          </div>
        </div>

        <div class="container container-right d-flex flex-column">
          <div class="container score-container d-flex align-items-center">
            <form class="score-form" method="POST">
              <label for="score" class="rate-text">Rate this product:</label>
              <select name="score" id="score" class="score-box">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
              </select>
              <button
                type="submit"
                class="btn btn-custom js-rate-form btn-score"
              >
                Submit score
              </button>
            </form>
            <!-- <p class="rate-text">Rate this product:</p>
            <div class="stars-container d-flex justify-content-start">
              <svg class="clickable-svg">a</svg>
              <svg class="clickable-svg">a</svg>
              <svg class="clickable-svg">a</svg>
              <svg class="clickable-svg">a</svg>
              <svg class="clickable-svg">a</svg>
            </div> -->
          </div>
          <div
            class="container reviews-container d-flex flex-column align-items-center"
          >
            <!-- <h6 class="incidents-number-text">
              <em>Quality incidents for Acid ascorbic: 2</em>
            </h6> -->
            <!-- <div class="review d-flex flex-column justify-content-between">
              <div class="review-date">07/05/2023</div>
              <div class="review-content">
                Nu e normal asa ceva! Imi dau demisia cu produse dinastea!!
              </div>
              <div class="review-author">Ioana Marinescu</div>
            </div>
            <div class="review d-flex flex-column justify-content-between">
              <div class="review-date">07/05/2023</div>
              <div class="review-content">
                Nu e normal asa ceva! Imi dau demisia cu produse dinastea!!
              </div>
              <div class="review-author">Ioana Marinescu</div>
            </div>
            <div class="review d-flex flex-column justify-content-between">
              <div class="review-date">07/05/2023</div>
              <div class="review-content">
                Nu e normal asa ceva! Vreti sa innebunesc?! Imi dau demisia cu
                produse dinastea!!
              </div>
              <div class="review-author">Ioana Marinescu</div>
            </div>
            <div class="review d-flex flex-column justify-content-between">
              <div class="review-date">07/05/2023</div>
              <div class="review-content">
                Nu e normal asa ceva! Vreti sa innebunesc?! Imi dau demisia cu
                produse dinastea!!
              </div>
              <div class="review-author">Ioana Marinescu</div>
            </div>
            <div class="review d-flex flex-column justify-content-between">
              <div class="review-date">07/05/2023</div>
              <div class="review-content">
                Nu e normal asa ceva! Vreti sa innebunesc?! Imi dau demisia cu
                produse dinastea!!
              </div>
              <div class="review-author">Ioana Marinescu</div>
            </div>
            <div class="review d-flex flex-column justify-content-between">
              <div class="review-date">07/05/2023</div>
              <div class="review-content">
                Nu e normal asa ceva! Vreti sa innebunesc?! Imi dau demisia cu
                produse dinastea!!
              </div>
              <div class="review-author">Ioana Marinescu</div>
            </div>
            <div class="review d-flex flex-column justify-content-between">
              <div class="review-date">07/05/2023</div>
              <div class="review-content">
                Nu e normal asa ceva! Vreti sa innebunesc?! Imi dau demisia cu
                produse dinastea!!
              </div>
              <div class="review-author">Ioana Marinescu</div>
            </div>
            <div class="review d-flex flex-column justify-content-between">
              <div class="review-date">07/05/2023</div>
              <div class="review-content">
                Nu e normal asa ceva! Vreti sa innebunesc?! Imi dau demisia cu
                produse dinastea!!
              </div>
              <div class="review-author">Ioana Marinescu</div>
            </div> -->
          </div>
          <div
            class="container d-flex flex-row buttons-container buttons-container-right justify-content-center"
          >
            <button type="submit" class="btn btn-custom" id="addqiButton">
              Add quality incident
            </button>
          </div>
        </div>
      </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <script src="{{ url_for('static', filename='products.js') }}"></script>
    <script src="{{ url_for('static', filename='nav_bar2.js') }}"></script>
  </body>
</html>
