<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      crossorigin="anonymous"
    />

    <link rel="stylesheet" href="/website/static/general.css" />
    <link rel="stylesheet" href="/website/static/nav_bar2.css" />
    <link rel="stylesheet" href="/website/static/settings.css" />

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='general.css') }}"
    />

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='nav_bar2.css') }}"
    />

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='settings.css') }}"
    />

    <title>Settings</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-sm">
      <div class="container-fluid" style="overflow: hidden">
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div
          class="collapse navbar-collapse"
          style="overflow: hidden"
          id="navbarNav"
        >
          <ul class="navbar-nav me-auto">
            <li class="nav-item">
              <a
                id="newstockButton"
                class="nav-link btn btn-sm btn-custom shadow-none btn-custom-white btn-right-nav1"
                >New stock</a
              >
            </li>
            <li class="nav-item">
              <a
                id="trackusageButton"
                class="nav-link btn btn-sm btn-custom shadow-none btn-custom-white btn-right-2 btn-right-nav1"
                >Track usage</a
              >
            </li>
          </ul>
          <a
            id="statisticsButton0"
            class="navbar-brand mx-auto"
            style="overflow: hidden"
            ><img
              class="logo"
              src="{{ url_for('static', filename='LabStockLogo.svg') }}"
              alt="Logo"
          /></a>
          <ul class="navbar-nav ms-auto">
            <li class="nav-item text-center">
              <a
                id="statisticsButton"
                class="nav-link btn btn-sm btn-custom shadow-none btn-right-nav1"
                >Statistics</a
              >
            </li>
            <li class="nav-item">
              <a
                id="substancesButton"
                class="nav-link btn btn-sm btn-custom shadow-none btn-right-nav1"
                >Substances</a
              >
            </li>
            <li class="nav-item btn-right-2">
              <a id="settingsButton">
                <img
                  alt="Settings"
                  class="align-self"
                  src="{{ url_for('static', filename='settings.svg') }}"
                  style="
                    height: 35px;
                    width: auto;
                    padding-top: 4px;
                    color: #fffbfa;
                  "
                />
              </a>
            </li>
            <li class="nav-item btn-right-2">
              <a id="logoutButton">
                <img
                  alt="Logout"
                  class="align-self"
                  src="{{ url_for('static', filename='logout.svg') }}"
                  style="height: 35px; width: auto; padding-top: 4px"
                />
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div
      class="container-fluid d-flex flex-column justify-content-center align-items-center"
      style="background-color: #fffbfa; height: calc(100vh - 60px)"
    >
      <div
        class="main-container container h-75 d-flex flex-row justify-content-between align-items-center px-0"
      >
        <div class="left-container d-flex flex-column justify-content-between">
          <ul>
            <li>
              <p class="data-info">Username:</p>
              <p id="username" class="data-info-value">{{data[0].username}}</p>
            </li>
            <li>
              <p class="data-info">Email:</p>
              <p id="lab" class="data-info-value">{{data[0].email_address}}</p>
            </li>
            <li>
              <p class="data-info">Full name:</p>
              <p id="first_name" class="data-info-value">
                {{data[0].first_name}}
              </p>
              <p id="last_name" class="data-info-value">
                {{data[0].last_name}}
              </p>
            </li>

            <li>
              <p class="data-info">Laboratory:</p>
              <p id="lab" class="data-info-value">{{data[0].lab_name}}</p>
            </li>
            <li>
              <p class="data-info">Laboratory role:</p>
              <p id="lab" class="data-info-value">{{data[0].role}}</p>
            </li>
          </ul>
        </div>

        <div
          class="container right-container d-flex flex-column justify-content-around justify-content-md-around"
        >
          buton+lista
          <div class="button-box">
            <button class="btn csv-btn mb-3 btn-custom">
              Download CSV file
            </button>
            <p class="csv-info">
              <em
                >Here you can download locally all your current substances
                stocks.</em
              >
            </p>
          </div>
          {% if admin==1 %}
          <div class="admin-box">
            <div class="labcode-box">
              <p class="code-info">
                This is the unique laboratory code. Every member will need to
                enter it when creating an account.
              </p>
              <br />
              <p id="labcode">{{data[0].lab_code}}</p>
            </div>
            <br />
            <div class="users-box">
              <h6>Select a new user to validate their acount:</h6>
              <div class="scrollable-container">
                {% for user in data2 %}
                <div class="user-card container">
                  <div class="user-names">
                    {{user.first_name}} {{user.last_name}}
                  </div>
                  <button
                    class="btn validate-btn mb-3 btn-custom justify-self-center"
                  >
                    Validate
                  </button>
                </div>
                {% endfor %}

                <!-- <div class="user-card container">
                  <div class="user-names">a</div>
                  <button
                    class="btn validate-btn mb-3 btn-custom justify-self-center"
                  >
                    Validate
                  </button>
                </div>
                <div class="user-card container">
                  <div class="user-names">a</div>
                  <button
                    class="btn validate-btn mb-3 btn-custom justify-self-center"
                  >
                    Validate
                  </button>
                </div>
                <div class="user-card container">
                  <div class="user-names">a</div>
                  <button
                    class="btn validate-btn mb-3 btn-custom justify-self-center"
                  >
                    Validate
                  </button>
                </div> -->
              </div>
            </div>
          </div>
          {% endif %}
        </div>
      </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <script src="{{ url_for('static', filename='nav_bar2.js') }}"></script>
    <script src="{{ url_for('static', filename='settings.js') }}"></script>
  </body>
</html>
