<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      crossorigin="anonymous"
    />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;600;700&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="/website/static/general.css" />
    <link rel="stylesheet" href="/website/static/nav_bar2.css" />
    <link rel="stylesheet" href="/website/static/statistics.css" />

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='general.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='nav_bar2.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='statistics.css') }}"
    />

    <title>Statistics</title>
  </head>
  <body>
    {% if issues[0]!="" or issues[1]!="" %}
    <div issues="{{issues}}" class="notif-message" id="error-message">
      <p class="error-text">{{issues[0]}} {{issues[1]}}</p>
      <button type="button" class="close-button">
        <a href="#error-message" class="close-link">X</a>
      </button>
    </div>
    {% endif %}
    <nav class="navbar navbar-expand-sm">
      <div class="container-fluid" style="overflow: hidden">
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div
          class="collapse navbar-collapse"
          style="overflow: hidden"
          id="navbarNav"
        >
          <ul class="navbar-nav me-auto">
            <li class="nav-item">
              <a
                id="newstockButton"
                class="nav-link btn btn-sm btn-custom shadow-none btn-custom-white btn-right-nav1"
                >New stock</a
              >
            </li>
            <li class="nav-item">
              <a
                id="trackusageButton"
                class="nav-link btn btn-sm btn-custom shadow-none btn-custom-white btn-right-2 btn-right-nav1"
                >Track usage</a
              >
            </li>
          </ul>
          <a
            id="statisticsButton0"
            class="navbar-brand mx-auto"
            style="overflow: hidden"
            ><img
              class="logo"
              src="{{ url_for('static', filename='LabStockLogo.svg') }}"
              alt="Logo"
          /></a>
          <ul class="navbar-nav ms-auto">
            <li class="nav-item text-center">
              <a
                id="statisticsButton"
                class="nav-link btn btn-sm btn-custom shadow-none btn-right-nav1"
                >Statistics</a
              >
            </li>
            <li class="nav-item">
              <a
                id="substancesButton"
                class="nav-link btn btn-sm btn-custom shadow-none btn-right-nav1"
                >Substances</a
              >
            </li>
            <li class="nav-item btn-right-2">
              <a id="settingsButton">
                <img
                  alt="Settings"
                  class="align-self"
                  src="{{ url_for('static', filename='settings.svg') }}"
                  style="
                    height: 35px;
                    width: auto;
                    padding-top: 4px;
                    color: #fffbfa;
                  "
                />
              </a>
            </li>
            <li class="nav-item btn-right-2">
              <a id="logoutButton">
                <img
                  alt="Logout"
                  class="align-self"
                  src="{{ url_for('static', filename='logout.svg') }}"
                  style="height: 35px; width: auto; padding-top: 4px"
                />
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div
      class="main-column container-fluid d-flex flex-column justify-content-center align-items-center"
      style="background-color: #fffbfa; height: calc(100vh - 60px)"
    >
      <div
        class="main-row container h-75 d-flex flex-column justify-content-around px-0"
      >
        <p class="container info_text_select">
          <b>Select a substance to see more details:</b>
        </p>
        <div class="scrollable-container">
          {% for substance in data %}
          <div
            class="container card-substance"
            substance-code="{{ substance.unique_substance_code }}"
          >
            <div class="substance-basic-info">
              <p class="score-text">
                <em>Score: {{ substance.score }}/5</em>
              </p>

              <h5 class="card-title m-0">
                <b>{{ substance.substance_name }}</b>
              </h5>
              <p class="card-text">{{ substance.producer_name }}</p>
            </div>
            <div class="statistics-info">
              <p class="statistics-line">
                ● Last week average consumption: {{substance.average}} g/day
              </p>
              <p class="statistics-line">
                ● Total quantity left: {{substance.total_quantity}} g
              </p>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
    <script src="{{ url_for('static', filename='nav_bar2.js') }}"></script>
    <script src="{{ url_for('static', filename='statistics.js') }}"></script>
    <script>
      $(document).ready(function () {
        $(".close-button").click(function () {
          $("#error-message").hide();
        });
      });
    </script>
  </body>
</html>
