.who_title {
  padding-bottom: 3px;

  border-bottom: 2px solid #70cfad;
  width: 180px;
}

.about_us_table {
  width: 70%;
  height: 490px;
  overflow-y: auto;
}

.features_box {
  overflow-x: hidden;
  overflow-y: auto;
  max-height: 170px;
  width: 90%;
}

p {
  font-size: 14px;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 4px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #979494;
  border-radius: 4px;
}
