.forgot-password-form {
  width: 370px;
  height: 310px;
  border-top: 2px solid #70cfad;
  border-bottom: 2px solid #70cfad;
  align-self: center;
}

.form-buttons {
  margin-bottom: 20px;
}

.form-info {
  font-size: 14px;
  margin-bottom: 0;
}

form {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

/* .info_link:hover,
.info_link:active {
  color: ;
  border-color: ;
} */
