/* General:  */
/* 
Colors:
light green: #70CFAD
dark green: #69BE9F
white: #FFFBFA
dark white: #F2EDEB
black (text): #2D3632

Text size:

Size of underlines: 2px

/* Text */

body {
  font-family: "Inter", sans-serif;
  background-color: #fffbfa;
  color: #2d3632;
}

/* Buttons */
.btn-custom-white {
  border: 1px solid #fffbfa;
}

.btn-custom {
  border-radius: 5px;
  color: #fffbfa; /* sets the color of the navbar links */
  font-weight: 600 !important;
}

.btn-right-2 {
  margin-left: 9px;
}

.btn {
  background-color: #70cfad;
}

.btn:hover {
  background-color: #69be9f;
  color: #fffbfa;
}

/* SCROLLBAR */

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 4px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  /* background: #979494; */
  border-radius: 4px;
  background: #b9b6b6;
  /* background: #cecaca; */
}
