/* General:  */
/* 
Colors:
light green: #70CFAD
dark green: #69BE9F
white: #FFFBFA
dark white: #F2EDEB
black (text): #2D3632

Text size: 16px normal text; 14px small text

Size of underlines: 2px

/* Text */

body {
  font-family: "Inter", sans-serif;
  background-color: #fffbfa;
  color: #2d3632;
}

/* Buttons */
.btn-custom-white {
  border: 1px solid #fffbfa;
}

.btn-custom {
  border-radius: 5px;
  color: #fffbfa;
  font-weight: 600 !important;
}

.btn-right-2 {
  margin-left: 9px;
}

.btn {
  background-color: #70cfad;
  box-shadow: none !important;
}

.btn:hover {
  background-color: #69be9f;
  color: #fffbfa;
}

.btn:active,
.btn:focus {
  box-shadow: none !important;
  outline: none !important;
}

/* SCROLLBAR */

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 4px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  /* background: #979494; */
  border-radius: 4px;
  background: #b9b6b6;
  /* background: #cecaca; */
}

.scrollable-container:last-child {
  border-bottom: none !important;
}

/* ERROR MESSAGE */

.error-message {
  height: 40px;
  background-color: #fffbfa;
  position: relative;

  display: none;
}

.error-text {
  padding-top: 8px;
  padding-left: 35px;
  font-weight: 600;
  color: red;
  /* font-style: italic; */
}

.close-button {
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 35px;
  margin-top: 8px;
  background-color: #b9b6b6;
  color: #fffbfa;
  border: solid 1px #b9b6b6;
  cursor: pointer;
  border-radius: 5px;
  font-weight: 600;
}

.close-button:hover {
  background-color: #8e8d8d;
  color: #8e8d8d;
}

.nav-link:hover {
  color: #fffbfa;
}

.close-link {
  color: #fffbfa;
  text-decoration: none;
}

.close-link:hover {
  /* background-color: #fffbfa; */
  color: #fffbfa;
  text-decoration: none;
}
