/* Nav bar */

.navbar {
  background-color: #70cfad;
}

.navbar-toggler-icon {
  background-color: #fffbfa;
}

/* Buttons nav bar */

.navbar-nav .nav-link {
  color: #fffbfa;
  font-weight: 600;
}

.navbar-nav .nav-link:hover {
  background-color: #69be9f;
}

.btn-right-nav1 {
  width: 110px;
}

/* LOGO */

.logo {
  height: 35px;
  width: auto;
  cursor: pointer;
}

/* SVG ICONS */

#settingsButton {
  cursor: pointer;
}

#logoutButton {
  cursor: pointer;
}

/* media queries navbar2*/

@media (max-width: 775px) {
  .navbar-brand {
    display: none;
  }
}

@media (max-width: 576px) {
  .navbar > .container-fluid {
    flex-wrap: nowrap !important;
  }

  .nav-link {
    font-size: 12px !important;
  }

  .navbar-nav {
    flex-direction: row !important;
  }
  .nav-link,
  .navbar-nav {
    padding-right: 0.5rem !important;
    padding-left: 0.5rem !important;
  }
}
