/* USER INFO */

.left-container > ul > li {
  list-style-type: none;
  padding-top: 7px;
}

p {
  display: inline;
}

.data-info {
  font-style: italic;
}

.data-info-value {
  font-weight: 600;
}

.left-container {
  /* border: 4px solid purple; */
  width: 60%;
  margin-right: 10rem;
  border-bottom: 2px solid #70cfad;
  border-top: 2px solid #70cfad;
}

/* RIGHT PART */

.right-container {
  /* border: 4px solid purple; */
}

.button-box {
  /* border: 4px solid red; */
  width: 100;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.csv-info {
  font-size: 14px;
  margin-left: 10px;
}

.csv-btn {
  width: 180px;
  margin-bottom: auto;
  margin-top: auto;
}

/* ADMIN BOX */

.admin-box {
  /* border: 4px solid orange; */
  border-top: 2px solid #70cfad;
}

.button-box > .btn {
  font-size: 14px;
  width: 180px;
  margin-bottom: auto;
  margin-top: auto;
}

.code-info {
  font-size: 14px;
}

#labcode {
  font-weight: 600;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0 !important;
}

.users-box {
  /* border: 4px solid purple; */
  border-top: 2px solid #70cfad;
  padding-top: 4px;
}

.autoable-container {
  height: 90px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.scrollable-container:last-child {
  border-bottom: none;
}

.user-card {
  /* border: 4px solid pink; */
  height: 35px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 2px solid #70cfad;
  padding-top: 3px;
  padding-bottom: 3px;
}

.user-card:hover {
  background-color: #f1f1f1;
}

.validate-btn {
  height: 25px;
  font-size: 14px;
  font-weight: 400 !important;
  margin-left: 5px;
  margin-bottom: 0 !important;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.validated-btn {
  height: 25px;
  font-size: 14px;
  font-weight: 400 !important;
  margin-left: 5px;
  margin-bottom: 0 !important;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #b9b6b6 !important;
}

.no-invalids {
  font-size: 14px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  margin-top: auto;
}

/* media queries */

@media (max-width: 910px) {
  .main-container {
    flex-direction: column !important ;
    width: 100%;
  }

  .left-container {
    margin-bottom: 30px;
    margin-right: 0;
    height: 390px !important;
    width: 60%;
  }
}
