.main-column {
  /* border: 2px solid black; */
}

.main-row {
  /* border: 2px solid red; */
  width: 70%;
}

/* NOTIFICATION */

.notif-message {
  height: 40px;
  background-color: #fffbfa;
  position: relative;
  display: block;
}

/* CARDS */

.scrollable-container {
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  height: 90%;
  /* border: 2px solid grey; */
}

.info_text_select {
  margin-bottom: 0;
  font-size: 14px;
  position: sticky;
  top: 0;
  background-color: #fffbfa;
}

.card-substance {
  /* border: 2px solid green; */

  height: 100px;
  border-bottom: 2px solid #70cfad;

  display: flex;
  justify-content: space-evenly;
}
.card-substance:hover {
  /* asta nu e albul inchis ales initial, e cel de la scrollbar dar parca arata mai bine */
  background-color: #f1f1f1;
  cursor: pointer;
}
.card-substance:active {
  background-color: #f1f1f1;
}

.selected {
  background-color: #f1f1f1;
}

.substance-basic-info {
  /* border: 2px solid blue; */
  padding-top: 1rem;
  width: 40%;
}

.stars-container {
  height: 20px;

  /* background-color: beige; */
}

.score-text {
  font-size: 14px;
  margin-bottom: 0;
}

svg {
  width: 20px;
  border: 2px solid red;
  margin-right: 2px;
}

.statistics-info {
  /* border: 2px solid purple; */
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  justify-self: flex-end;
  width: 50%;
}

.statistics-line {
  margin: 0;
}

.scrollable-container:last-child {
  border-bottom: none !important;
}

.notif-message:target {
  display: none;
}
